.home-intro {
  margin: 72px 0;
  gap: 34px;
  align-items: center;
}
.home-intro h2 {
  font-size: 30px;
  /* color: black; */
}
.home-intro-img {
  width: 462px;
  height: 274px;
  border-radius: 5px;
  background-image: url(../../public/img/icons/image\ 272.png);
}
.home-intro .italic {
  text-decoration: none;
  margin: 26px 0 28px 0;
  font-style: italic;
  font-size: 24px;
  color: var(--primary-color);
}
.home-cate {
  grid-column: 3 / span 8;
  padding-top: 38px;
}
.cate-item {
  height: 122px;
  width: 122px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.home-cate-list {
  width: 100%;
  justify-content: space-between;
  margin: 48px 0;
}
.home-cate-list a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.reli-account-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 102px;
  width: 102px;
}
.reli-account-content{    display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;}
  .reli-account-name {
    font-size: 20px;
    font-weight: 500;
  }
  .reli-account-nickname {
    font-size: 16px;
    font-weight: 400;
  }
  .reli-account-score {
    font-size: 17px;
    font-weight: 600;
    color: #28A24F;
  }
.acc-1 {
  background-image: url(../../public/img/assets/vanpham.png)
}
.acc-2 {
  background-image: url(../../public/img/assets/minhnguyen.png)
}
.acc-3 {
  background-image: url(../../public/img/assets/dragonsea.png)
}
.acc-4 {
  background-image: url(../../public/img/assets/minhtrang.png)
}
.acc-5 {
  background-image: url(../../public/img/assets/hanguyen.png)
}
.acc-6 {
  background-image: url(../../public/img/assets/quochuy.png)
}
.show-more {
  color: var(--primary-color);
  gap: 16px;
  align-items: center;
}
.show-more a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 26px;
}
.show-more :hover {
  cursor: pointer;
}
.show-arrow-icon {
  transition: transform 0.3s ease;
}

.show-arrow-icon.rotate {
  transform: rotate(90deg);
}
.flex-4 {
  flex: 4 !important;
}
.flex-7 {
  flex: 7 !important;
}
